@using ElectronicsShop.Models
@using System.Data.Entity
@{
    var context = new ApplicationDbContext();


    var sections = context.Sections.Include(d => d.Categories);
}


@foreach (var s in sections)
{
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            @s.Name
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            @foreach (var category in s.Categories.Take(5))
            {
                <li><a href="@Url.Action("Search", "Products", new { searchText = category.Name })">@category.Name</a></li>
            }
            <li role="separator" class="divider"></li>
            <li><a  href="@Url.Action("Search", "Products", new { searchText = s.Name })">Pokaż wszystkie</a></li>
        </ul>
    </div>
}

<a class="btn btn-default">Pokaż wszystkie</a>

