@model ElectronicsShop.Models.DbModels.Section

@{
    ViewBag.Title = "Delete";
}
<h2>Usuń</h2>

<h3>Czy jesteś pewien, że chcesz to usunąć?</h3>
<div>
    <h4>Sekcja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć", "Index")
        </div>
    }
</div>
