
@{
    ViewBag.Title = "OrderCompleted";
}


<h2 style="margin-top: 150px; width: 100%; text-align: center;">Dziękujemy za zakupy</h2>
<a href="" style="width: 100%; text-align: center; display: block; margin-bottom: 500px">Przejdź do historii zamówień</a>