@{
    ViewBag.Title = "Home Page";
}


<h1>Polecane</h1>
<div class="gridContainter">
    <div class="element">
        <div class="imgHolder">
            <img src="https://lh3.googleusercontent.com/proxy/t66LdTFMRSc36jr301oxX-RCJdjzZGXC0-_qo3of9HCUBxM2KD4TR4OzqPq7fmz4Z17_3ztAEtUWIJy7vlkpbA2469adgBfUcS5XYRuDe71By8I" />
        </div>
        <div class="elementInfo">
            <h1>Pierdoloplool</h1>
            <h2>cena</h2>
        </div>
    </div>

    <div class="element">
        <div class="imgHolder">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRw79F97mXiK_SuiSmUlv_-qkjtUBujxUat0A7iP1nBAaQieJYV&usqp=CAU" />
        </div>

        <div class="elementInfo">

            <h1>Pierdoloplool o i tak to jest. co wy ty</h1>
            <h2>cena</h2>
        </div>
    </div>

    <div class="element">
        <div class="imgHolder">
            <img src="#" />
        </div>

        <div class="elementInfo">
            <h1>Pierdoloplool o i tak to jest. co wy ty</h1>
            <h2>cena</h2>
        </div>
    </div>

    <div class="element">
        <div class="imgHolder">
            <img src="#" />
        </div>

        <div class="elementInfo">
            <h1>Pierdoloplool o i tak to jest. co wy ty</h1>
            <h2>cena</h2>
        </div>
    </div>

    <div class="element">
        <div class="imgHolder">
            <img src="#" />
        </div>

        <div class="elementInfo">
            <h1>Pierdoloplool o i tak to jest. co wy ty</h1>
            <h2>cena</h2>
        </div>
    </div>

    <div class="element">
        <div class="imgHolder">
            <img src="#" />
        </div>

        <div class="elementInfo">
            <h1>Pierdoloplool o i tak to jest. co wy ty</h1>
            <h2>cena</h2>
        </div>
    </div>

    <div class="element">
        <div class="imgHolder">
            <img src="#" />
        </div>

        <div class="elementInfo">
            <h1>Pierdoloplool o i tak to jest. co wy ty</h1>
            <h2>cena</h2>
        </div>
    </div>


</div>


<style>
    .gridContainter {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        /*background: red;*/
    }

    .element {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        cursor: pointer;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 5px;
    }

        .element img {
            object-fit: fill;
            width: 100%;
        }

        .element h1 {
            font-size: 18px;
        }

        .element h2 {
            font-size: 16px;
        }

    .elementInfo {
        padding: 0 10px;
    }

    .imgHolder {
        flex-basis: 75%;
        display: flex;
        align-items: center;
        padding: 0 10px;
        /*border: 1px solid green;*/
    }
</style>
